
<h5 class="pt-3 pb-3 pr-3 pl-3 bg-gray mb-0">Kích cỡ</h5>
<div class="pt-3 pb-3 pr-3 pl-3 ">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios2" id="allSize" @(ViewBag.size == "all" ? "checked" : "") onchange="@("window.location.href='" + @Url.Action(ViewBag.action, "Collection", new { size = "all", filterType = ViewBag.filterType, price = ViewBag.price, category =  ViewBag.title, sortOrder=ViewBag.sortOrder, sortActive=ViewBag.sortActive}) + "'");">
        <label class="form-check-label" for="allSize">
            Tất cả
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios2" id="35" @(ViewBag.size == "35" ? "checked" : "") onchange="@("window.location.href='" + @Url.Action(ViewBag.action, "Collection", new { size = "35", filterType = ViewBag.filterType, price = ViewBag.price, category =  ViewBag.title, sortOrder=ViewBag.sortOrder, sortActive=ViewBag.sortActive}) + "'");">
        <label class="form-check-label" for="35">
            35
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios2" id="36" @(ViewBag.size == "36" ? "checked" : "") onchange="@("window.location.href='" + @Url.Action(ViewBag.action, "Collection", new {size = "36", filterType = ViewBag.filterType, price = ViewBag.price, category =  ViewBag.title, sortOrder=ViewBag.sortOrder, sortActive=ViewBag.sortActive}) + "'");">
        <label class="form-check-label" for="36">
            36
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios2" id="37" @(ViewBag.size == "37" ? "checked" : "") onchange="@("window.location.href='" + @Url.Action(ViewBag.action, "Collection", new { size = "37", filterType = ViewBag.filterType, price = ViewBag.price, category =  ViewBag.title, sortOrder=ViewBag.sortOrder, sortActive=ViewBag.sortActive}) + "'");">
        <label class="form-check-label" for="37">
            37
        </label>
    </div>
    <div class="form-check">

        <input class="form-check-input" type="radio" name="exampleRadios2" id="38" @(ViewBag.size == "38" ? "checked" : "") onchange="@("window.location.href='" + @Url.Action(ViewBag.action, "Collection", new { size = "38", filterType = ViewBag.filterType, price = ViewBag.price, category =  ViewBag.title, sortOrder=ViewBag.sortOrder, sortActive=ViewBag.sortActive}) + "'");">
        <label class="form-check-label" for="38">
            38
        </label>
    </div>
    <div class="form-check">

        <input class="form-check-input" type="radio" name="exampleRadios2" id="39" @(ViewBag.size == "39" ? "checked" : "") onchange="@("window.location.href='" + @Url.Action(ViewBag.action, "Collection", new { size = "39", filterType = ViewBag.filterType, price = ViewBag.price, category =  ViewBag.title, sortOrder=ViewBag.sortOrder, sortActive=ViewBag.sortActive}) + "'");">
        <label class="form-check-label" for="39">
            39
        </label>
    </div>
    <div class="form-check">

        <input class="form-check-input" type="radio" name="exampleRadios2" id="40" @(ViewBag.size == "40" ? "checked" : "") onchange="@("window.location.href='" + @Url.Action(ViewBag.action, "Collection", new {size = "40", filterType = ViewBag.filterType, price = ViewBag.price, category =  ViewBag.title, sortOrder=ViewBag.sortOrder, sortActive=ViewBag.sortActive}) + "'");">
        <label class="form-check-label" for="40">
            40
        </label>
    </div>
    <div class="form-check">

        <input class="form-check-input" type="radio" name="exampleRadios2" id="41" @(ViewBag.size == "41" ? "checked" : "") onchange="@("window.location.href='" + @Url.Action(ViewBag.action, "Collection", new {size = "41", filterType = ViewBag.filterType, price = ViewBag.price, category =  ViewBag.title, sortOrder=ViewBag.sortOrder, sortActive=ViewBag.sortActive}) + "'");">
        <label class="form-check-label" for="41">
            41
        </label>
    </div>
    <div class="form-check">

        <input class="form-check-input" type="radio" name="exampleRadios2" id="42" @(ViewBag.size == "42" ? "checked" : "") onchange="@("window.location.href='" + @Url.Action(ViewBag.action, "Collection", new { size = "42", filterType = ViewBag.filterType, price = ViewBag.price, category =  ViewBag.title, sortOrder=ViewBag.sortOrder, sortActive=ViewBag.sortActive}) + "'");">
        <label class="form-check-label" for="42">
            42
        </label>
    </div>
    <div class="form-check">

        <input class="form-check-input" type="radio" name="exampleRadios2" id="43" @(ViewBag.size == "43" ? "checked" : "") onchange="@("window.location.href='" + @Url.Action(ViewBag.action, "Collection", new { size = "43", filterType = ViewBag.filterType, price = ViewBag.price, category =  ViewBag.title, sortOrder=ViewBag.sortOrder, sortActive=ViewBag.sortActive}) + "'");">
        <label class="form-check-label" for="43">
            43
        </label>
    </div>
    <div class="form-check">

        <input class="form-check-input" type="radio" name="exampleRadios2" id="44" @(ViewBag.size == "44" ? "checked" : "") onchange="@("window.location.href='" + @Url.Action(ViewBag.action, "Collection", new { size = "44", filterType = ViewBag.filterType, price = ViewBag.price, category =  ViewBag.title, sortOrder=ViewBag.sortOrder, sortActive=ViewBag.sortActive}) + "'");">
        <label class="form-check-label" for="44">
            44
        </label>
    </div>
</div>